<header class="topo">
    <div class="container">
        <h1>Tec<span>Blog</span></h1>

        <nav class="menu-topo">
            <a href="#">Home</a>
            <a href="#">Jogos</a>
            <a href="#">Celulares</a>
            <a href="#">Informática</a>
            <a href="#">Eletrônicos</a>
        </nav>
    </div>
</header>