<div class="navbar">

    <div class="container">

        <div class="navbar-links">
            <a href="/painel">Painel</a>
            <a href="/painel/nova-postagem">Novo post</a>
            <a href="/painel/logout">Sair</a>
        </div>

    </div>

</div>