<section class="sidebar">

<h2>Painel Blog</h2>

<div class="nav-menu">
    <a href="/painel">Painel</a>
    <a href="/">Ver blog</a>
    <a href="/painel/posts">Todos os posts</a>
    <a href="/painel/nova-postagem">Novo post</a>
    <a href="/painel/categorias">Categorias</a>
    <a href="/painel/logout">Fazer logout</a>
</div>
</section>