<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/{{css}}.css">
    <link rel="stylesheet" href="/css/responsividade.css">
    <link rel="stylesheet" href="/css/reset.css">
    <title>TecBlog! - {{title}}</title>
</head>
<body>
    {{#if logado}}
    {{>navbar}}
    {{/if}}

    {{#if home}}
    {{>header}}
    {{/if}}

    {{{body}}}

    {{#if home}}
    {{>footer}}
    {{/if}}
    
    <script
      src="/js/moment.min.js"
    ></script>

    <script src="/js/main.js"></script>
    <script src="https://kit.fontawesome.com/d4268a8639.js" crossorigin="anonymous"></script>
</body>
</html>