<section class="page-error">
    <div class="container">
        <span class="error">404</span>
        <span class="info-error">Não conseguimos encontrar a página que você está procurando.</span>
    </div>
</section>