<main>
    <div class="container">

        <section class="posts">
            <article class="post">
                <h2>Titulo do post aqui</h2>
                <span class="date-post">postado 20 março 2022</span>
                <img src="http://www.ideapedia.com.br/SiteRefTec/aplicacoes/projeto%20TecBlog/imagens/imagem1.jpg"
                    alt="imagem do post">

                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Laborum culpa inventore quos deserunt illum
                    et non libero repudiandae dolor debitis natus vel enim eius, exercitationem dolores pariatur dicta
                    distinctio quidem!</p>

                <button>Ler mais</button>
            </article>

        </section>

        <aside>

            <div class="posts-recentes">
                <h3>Postagens recentes</h3>

                <h4>Titulo do post 1</h4>
                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit.</p>
                <hr>
                <h4>Titulo do post 1</h4>
                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit.</p>

            </div>

            <div class="categorias">
                <h3>Categorias</h3>
                <a href="#">Jogos</a>
                <a href="#">Celulares</a>
                <a href="#">Informática</a>
                <a href="#">Eletrônicos</a>
            </div>

        </aside>
    </div>
</main>