<main class="container">

    {{>sidebarPainel}}

    <section class="dashboard">

        <div class="count-areas">
            <div class="count-area  count-posts">
                <span class="count">{{qntPosts}}</span>
                <span class="title-dashboard">Posts publicados</span>
            </div>

            <div class="count-area  count-views">
                <span class="count">{{qntViews}}</span>
                <span class="title-dashboard">Visualizações do blog</span>
            </div>

            <div class="count-area  count-categorias">
                <span class="count">{{qntCategorias}}</span>
                <span class="title-dashboard">Categorias cadastradas</span>
            </div>
        </div>

    </section>
</main>